@font-face {
    font-family: 'Naroline';
    src: url('Naroline-Regular.eot');
    src: local('Naroline Regular'), local('Naroline-Regular'),
        url('Naroline-Regular.eot?#iefix') format('embedded-opentype'),
        url('Naroline-Regular.woff2') format('woff2'),
        url('Naroline-Regular.woff') format('woff'),
        url('Naroline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

